.cart-wrapper {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}


.cart-title {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #1e1e1e;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.cart-item img {
  width: 80px;
  border-radius: 8px;
}

.cart-info {
  flex: 1;
}

.cart-actions button {
  margin-right: 5px;
}

.cart-total {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.cart-buttons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}