body {
  margin: 0;
  padding: 0;
  background: #0d0d0d;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  padding: 15px;
  background: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #fbff00;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 30px;
}

.card {
  background: #1a1a1a;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.detail-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  background: #1a1a1a;
  border-radius: 10px;
}

.btn {
  background: hsla(0, 99%, 50%, 0.797);
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background: hsl(226, 100%, 50%);
}